{% extends 'base.html' %}

{% block content %}

<div class="container-fluid bg-page-header" style="margin-bottom: 90px;">
    <div class="container">
        <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 400px">
            <h3 class="display-3 text-white text-uppercase">Онлайн консултация</h3>
            <div class="d-inline-flex text-white">
                <p class="m-0 text-uppercase"><a class="text-white" href="{%url 'index' %}">Начало</a></p>
                <i class="fa fa-angle-double-right pt-1 px-3"></i>
                <p class="m-0 text-uppercase">Консултация</p>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid py-5">
    <div class="container py-5">
        <div class="text-center pb-2">
            <h6 class="text-uppercase">Благодаря, Ви {{ your_name }}</h6>
            <h1 class="mb-4">Ще се свържа с Вас скоро</h1>
        </div>
        <div class="row">
            <div class="col-lg-6 mb-5 mb-lg-0">
            </div>
        </div>
    </div>
</div>
    <script>
        setTimeout(function() {
            window.location.href = "{% url 'index' %}";
        }, 2500);
    </script>
{% endblock %}