<div class="container-fluid bg-secondary text-white pt-5 px-sm-3 px-md-5" style="margin-top: auto;">
    <div class="row mt-0">
        <div class="col-lg-4">
            <div class="d-flex justify-content-lg-center p-4" style="background: rgba(256, 256, 256, .05);">
                <i class="fa fa-2x fa-map-marker-alt text-primary"></i>
                <div class="ml-3">
                    <h5 class="text-white">Офис</h5>
                    <p class="m-0">гр. Левски, ул. "Пейо Яворов" № 3, обл. Плевен</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="d-flex justify-content-lg-center p-4" style="background: rgba(256, 256, 256, .05);">
                <i class="fa fa-2x fa-envelope-open text-primary"></i>
                <div class="ml-3">
                    <h5 class="text-white">Имейл</h5>
                    <p class="m-0">advokat.r.racheva@gmail.com</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="d-flex justify-content-lg-center p-4" style="background: rgba(256, 256, 256, .05);">
                <i class="fa fa-2x fa-phone-alt text-primary"></i>
                <div class="ml-3">
                    <h5 class="text-white">Телефон</h5>
                    <p class="m-0">+359 896 466 796</p>
                </div>
            </div>
        </div>
    </div>
</div>