{% load static %}
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
{#            <div class="row bg-white border-bottom d-none d-lg-flex">#}
{#                <div class="col-lg-7 text-left">#}
{#                    <div class="h-100 d-inline-flex align-items-center py-2 px-3">#}
{#                        <i class="fa fa-envelope text-primary mr-2"></i>#}
{#                        <small>advokat.r.racheva@gmail.com</small>#}
{#                    </div>#}
{#                    <div class="h-100 d-inline-flex align-items-center py-2 px-2">#}
{#                        <i class="fa fa-phone-alt text-primary mr-2"></i>#}
{#                        <small>+359 896 466 796</small>#}
{#                    </div>#}
{#                </div>#}
{#                <div class="col-lg-5 text-right">#}
{#                    <div class="d-inline-flex align-items-center p-2">#}
{#                        <a class="btn btn-sm btn-outline-primary btn-sm-square mr-2" href="https://www.facebook.com/profile.php?id=100001409953250">#}
{#                            <i class="fab fa-facebook-f"></i>#}
{#                        </a>#}
{#                        <a class="btn btn-sm btn-outline-primary btn-sm-square mr-2" href="">#}
{#                            <i class="fab fa-twitter"></i>#}
{#                        </a>#}
{#                        <a class="btn btn-sm btn-outline-primary btn-sm-square mr-2" href="">#}
{#                            <i class="fab fa-linkedin-in"></i>#}
{#                        </a>#}
{#                        <a class="btn btn-sm btn-outline-primary btn-sm-square mr-2" href="">#}
{#                            <i class="fab fa-instagram"></i>#}
{#                        </a>#}
{#                        <a class="btn btn-sm btn-outline-primary btn-sm-square mr-2" href="">#}
{#                            <i class="fab fa-youtube"></i>#}
{#                        </a>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
            <!-- NAVBAR -->
            <nav class="navbar navbar-expand-lg bg-white navbar-light p-0">
                <button id="collapse" type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                    <div class="navbar-nav mr-auto py-0">
                        <a href="{%url 'index' %}" class="nav-item nav-link">Начало</a>
                        <a href="{%url 'about' %}" class="nav-item nav-link">Относно</a>
                        <a href="{%url 'practice' %}" class="nav-item nav-link">Практика</a>
                        {% if user.is_authenticated %}
                        <a href="{%url 'contact' %}" class="nav-item nav-link">Консултация</a>
                        {% endif %}
                    </div>
                    {% if user.is_authenticated %}
                        <a href="{% url 'logout' %}" class="btn btn-primary mr-3 d-none d-lg-block">Изход</a>
                        <a href="{% url 'redact_profile' %}" class="btn btn-primary mr-3 d-none d-lg-block">Редакция на профил</a>
                                          {% if user.is_superuser %}
                                              <a href="{%url 'admin:index' %}" class="btn btn-primary mr-3 d-none d-lg-block">Админ Панел</a>
                            {% endif %}

                    {% else %}
                        <a href="{% url 'register' %}" class="btn btn-primary mr-3 d-none d-lg-block">Регистрация</a>
                        <a href="{% url 'login' %}" class="btn btn-primary mr-3 d-none d-lg-block">Вход</a>
                    {% endif %}


                </div>
            </nav>
        </div>
    </div>
</div>


<!-- LOOK THE JAVASCRIPT LATER BECUZ IT'S BUGGED AF -->
<script>const collapseButton = document.getElementById('collapse')
collapseButton.addEventListener('click', function() {
    document.getElementById('navbarCollapse').style.display='block';
collapseButton.addEventListener('click', function() {
    document.getElementById('navbarCollapse').style.display= 'none';
})

})</script>
