{% extends 'base.html' %}
{% load static %}

{% block content %}
<script src="https://kit.fontawesome.com/adb714c94d.js" crossorigin="anonymous"></script>
<div class="container-fluid bg-page-header" style="margin-bottom: 90px;">
    <div class="container">
        <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 400px">
            <h3 class="display-3 text-white text-uppercase">Практика</h3>
            <div class="d-inline-flex text-white">
                <p class="m-0 text-uppercase"><a class="text-white" href="{%url 'index' %}">Начало</a></p>
                <i class="fa fa-angle-double-right pt-1 px-3"></i>
                <p class="m-0 text-uppercase">Практика</p>
            </div>
        </div>
    </div>
</div>

<!-- Services Start -->
<div class="container-fluid py-5">
    <div class="container py-5">
        <div class="row">
            <div class="col-lg-3">
                <h1 class="mb-4">Правни области</h1>
                <p>Казуси със заличени данни от всички правни области, с които работи адв. Ралица Рачева</p>
                {% if user.is_authenticated and user.is_superuser %}
                <a href="{% url 'upload_document' %}" class="btn btn-primary mt-2">Качване на документ</a>
                {% endif %}
            </div>
            <div class="col-lg-9 pt-5 pt-lg-0">
                <div class="bg-primary rounded" style="height: 200px;"></div>
                <div class="owl-carousel service-carousel position-relative"
                    style="margin-top: -100px; padding: 0 30px;">
                    {% for category, files in files_by_category.items %}
                        {% if category == 'Гражданско право' %}
                    <div class="d-flex flex-column align-items-center text-center bg-white rounded pt-4">
                        <div class="icon-box bg-secondary text-primary mt-2 mb-4">
                            <i class="fa fa-2x fa-landmark"></i>
                        </div>
                        <h5 class="mb-4 px-4">Гражданско право</h5>
                        <div class="container">
                            <div class="row"
                                style="align-items: stretch; display: flex; flex-direction: row; flex-wrap: nowrap; overflow-x: auto; overflow-y: hidden;">
                                {% for file in files %}
                                <div class="card"
                                    style="width: 12rem; max-width: 33.333%; padding: .75rem; margin-bottom: 2rem; border: 0; flex-basis: 33.333%; flex-grow: 0; flex-shrink: 0;">
                                    <!-- may need to remove width-->
                                    <div class="card-body">
                                        <h5 class="card-title">{{file.title}}</h5>
                                        <img src="{% static 'lawyer_site/media/pdf_placeholder.png' %}" alt="PDF Placeholder" height="150px" width="125px">
{#                                        <embed src="{{file.document_file.url}}" type="application/pdf" height="150px" width="150px"> <!-- {{x.pdf.url}} -->#}
                                        <a href='{{file.document_file.url}}' class="btn btn-primary" target="_blank">Отвори</a>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                        {% endif %}
                        {% if category == 'Семейно право' %}
                                                <div class="d-flex flex-column align-items-center text-center bg-white rounded pt-4">
                        <div class="icon-box bg-secondary text-primary mt-2 mb-4">
                            <i class="fa fa-2x fa-users"></i>
                        </div>
                        <h5 class="mb-4 px-4">Семейно право</h5>
                        <div class="container">
                            <div class="row"
                                style="align-items: stretch; display: flex; flex-direction: row; flex-wrap: nowrap; overflow-x: auto; overflow-y: hidden;">
                                {% for file in files %}
                                <div class="card"
                                    style="width: 12rem; max-width: 33.333%; padding: .75rem; margin-bottom: 2rem; border: 0; flex-basis: 33.333%; flex-grow: 0; flex-shrink: 0;">
                                    <!-- may need to remove width-->
                                    <div class="card-body">
                                        <h5 class="card-title">{{file.title}}</h5>
                                        <img src="{% static 'lawyer_site/media/pdf_placeholder.png' %}" alt="PDF Placeholder" height="150px" width="125px">
{#                                        <embed src="{{file.document_file.url}}" type="application/pdf" height="150px" width="150px">#}
                                        <a href='{{file.document_file.url}}' class="btn btn-primary" target="_blank">Отвори</a>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                        {% endif %}


                    {% if category == 'Административно право' %}
                    <div class="d-flex flex-column align-items-center text-center bg-white rounded pt-4">
                        <div class="icon-box bg-secondary text-primary mt-2 mb-4">
                            <i class="fa fa-2x fa-hand-holding-usd"></i>
                        </div>
                        <h5 class="mb-4 px-4">Административно право</h5>
                        <div class="container">
                            <div class="row"
                                style="align-items: stretch; display: flex; flex-direction: row; flex-wrap: nowrap; overflow-x: auto; overflow-y: hidden;">
                                {% for file in files %}
                                <div class="card"
                                    style="width: 12rem; max-width: 33.333%; padding: .75rem; margin-bottom: 2rem; border: 0; flex-basis: 33.333%; flex-grow: 0; flex-shrink: 0;">
                                    <!-- may need to remove width-->
                                    <div class="card-body">
                                        <h5 class="card-title">{{file.title}}</h5>
{#                                        <embed src="{{file.document_file.url}}" type="application/pdf" height="150px" width="150px">#}
                                        <img src="{% static 'lawyer_site/media/pdf_placeholder.png' %}" alt="PDF Placeholder" height="150px" width="125px">
                                        <a href='{{file.document_file.url}}' class="btn btn-primary" target="_blank">Отвори</a>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                {% endif %}
                {% if category == 'Наказателно право' %}
                    <div class="d-flex flex-column align-items-center text-center bg-white rounded pt-4">
                        <div class="icon-box bg-secondary text-primary mt-2 mb-4">
                            <i class="fa fa-2x fa-gavel"></i>
                        </div>
                        <h5 class="mb-4 px-4">Наказателно право</h5>

                        <div class="container">
                            <div class="row"
                                style="align-items: stretch; display: flex; flex-direction: row; flex-wrap: nowrap; overflow-x: auto; overflow-y: hidden;">
                                {% for file in files %}
                                <div class="card"
                                    style="width: 12rem; max-width: 33.333%; padding: .75rem; margin-bottom: 2rem; border: 0; flex-basis: 33.333%; flex-grow: 0; flex-shrink: 0;">
                                    <!-- may need to remove width-->
                                    <div class="card-body">
                                        <h5 class="card-title">{{file.title}}</h5>
{#                                        <embed src="{{file.document_file.url}}" type="application/pdf" height="150px" width="150px">#}
                                        <img src="{% static 'lawyer_site/media/pdf_placeholder.png' %}" alt="PDF Placeholder" height="150px" width="125px">
                                        <a href='{{file.document_file.url}}' class="btn btn-primary" target="_blank">Отвори</a>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                {% endif %}

                        {% if category == 'Търговско право' %}
                    <div class="d-flex flex-column align-items-center text-center bg-white rounded pt-4">
                        <div class="icon-box bg-secondary text-primary mt-2 mb-4">
                            <i class="fa fa-2x fa-sack-dollar"></i>
                        </div>
                        <h5 class="mb-4 px-4">Търговско право</h5>

                        <div class="container">
                            <div class="row"
                                style="align-items: stretch; display: flex; flex-direction: row; flex-wrap: nowrap; overflow-x: auto; overflow-y: hidden;">
                                {% for file in files %}
                                <div class="card"
                                    style="width: 12rem; max-width: 33.333%; padding: .75rem; margin-bottom: 2rem; border: 0; flex-basis: 33.333%; flex-grow: 0; flex-shrink: 0;">
                                    <!-- may need to remove width-->
                                    <div class="card-body">
                                        <h5 class="card-title">{{file.title}}</h5>
{#                                        <embed src="{{file.document_file.url}}" type="application/pdf" height="150px" width="150px">#}
                                        <img src="{% static 'lawyer_site/media/pdf_placeholder.png' %}" alt="PDF Placeholder" height="150px" width="125px">
                                        <a href='{{file.document_file.url}}' class="btn btn-primary" target="_blank">Отвори</a>
                                        <!--   "../static/pdf/{{file_name}}" something like that if possible? -->
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                        {% endif %}
                        {% if category == 'Трудово право' %}
                    <div class="d-flex flex-column align-items-center text-center bg-white rounded pt-4">
                        <div class="icon-box bg-secondary text-primary mt-2 mb-4">
                            <i class="fa fa-2x fa-trowel-bricks"></i>
                        </div>
                        <h5 class="mb-4 px-4">Трудово право</h5>

                        <div class="container">
                            <div class="row"
                                style="align-items: stretch; display: flex; flex-direction: row; flex-wrap: nowrap; overflow-x: auto; overflow-y: hidden;">
                                {% for file in files %}
                                <div class="card"
                                    style="width: 12rem; max-width: 33.333%; padding: .75rem; margin-bottom: 2rem; border: 0; flex-basis: 33.333%; flex-grow: 0; flex-shrink: 0;">
                                    <!-- may need to remove width-->
                                    <div class="card-body">
                                        <h5 class="card-title">{{file.title}}</h5>
{#                                        <embed src="{{file.document_file.url}}" type="application/pdf" height="150px" width="150px">#}
                                        <img src="{% static 'lawyer_site/media/pdf_placeholder.png' %}" alt="PDF Placeholder" height="150px" width="125px">
                                        <a href='{{file.document_file.url}}' class="btn btn-primary" target="_blank">Отвори</a>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                        {% endif %}
    {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}